* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 50px;
    margin-bottom: 10px;
    padding: 10px 20px
}

.video {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
}

.video__wrap {
    width: 70%;
    height: 100%;
    margin-right: 15px;
}

.video .video__player-wrap {
    position: relative;
    min-height: 210px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.video .video__player video {
    border-radius: none;
    height: 100%;
}

.video .video__controls {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    transition: .2s ease-in opacity;
    opacity: 0;
    z-index: -1;
}

.video .video__controls.video__controls_active {
    opacity: 1;
    z-index: 2;
}

.video .video__icons {
    display: block;
    color: #fff;
    font-size: 44px;
    padding: 5px;
    transform: scale(.9);
}

.video .video__icons:hover {
    transform: scale(1);
}

.video .video__bottom-icons {
    color: #999;
    transition: .2s ease-in color;
}

.video .video__bottom-icons:hover {
    color: #fff;
}

.videos__lists {
    width: 30%;
}

.video-list__item {
    display: flex;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, .25);
    transition: .2s box-shadow;
}
.video-list__item:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}
.video__controls .video-list_next-btn {
    color: #fff;
    margin: 0 5px;
}
.video__controls .video-list_next-btn a {
    color: inherit;
    text-decoration: none;
}
.video-list__img {
    position: relative;
    width: 150px;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.video-list__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-list__duration {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px;
    margin: 5px;
    color: #fff;
    background: rgba(0, 0, 0, .65);
    border-radius: 5px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
}

.home-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 300px));
    gap: 20px;
    padding: 20px;
}

.home-list .video-list__item {
    flex-direction: column;
    margin: 0;
}

.home-list .video-list__img {
    width: 100%;
    height: 60%;
    margin: 0;
    flex-shrink: 0;
}
.home-list .video-list__desc {
    padding: 10px;
}

@media (max-width: 968px) {
    .video {
        flex-direction: column;
    }
    .video__wrap, .videos__lists {
        width: 100%;
    }
    .video__wrap {
        margin-right: 0;
        margin-bottom: 50px;
    }
}